*.iml
.gradle
/local.properties

# Ignore everything in .idea except code styles and optional checkstyle
.idea/*
!.idea/codeStyles/
!.idea/checkstyle-idea.xml

# /.idea/caches
# /.idea/libraries
# /.idea/modules.xml
# /.idea/workspace.xml
# /.idea/navEditor.xml
# /.idea/assetWizardSettings.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
